.row.place-detail
  .col-md-8
    h2= description

    if (info)
      p
        span.glyphicon.glyphicon-info-sign
        = info
    if (address)
      p
        span.glyphicon.glyphicon-map-marker
        = address
    if (phones)
      p.comma-list
        span.glyphicon.glyphicon-phone-alt
        each phone in phones
          .comma-list
            a(href='tel:' + phone)= phone
            = phones.indexOf(phone) === phones.length - 1 ? '' : ', '
    if (howToArrive)
      p
        span.glyphicon.glyphicon-road
        = howToArrive
    .tags
      each tag in tags
        label.label.label-primary= tag
    each group in summary
      div
        h3= group.key + ' - ' + group.length + ' cancha' + (group.length > 1 ? 's' : '')
        ul
          each court in group
            li
              = court.length + ' cancha' + (court.length > 1 ? 's' : '') + ' de ' + court.key.surface
              = court.key.isIndoor ? ', techada' + (court.length > 1 ? 's' : '') : ''
              = court.key.players ? ', para ' + court.key.players + ' jugadores' : ''
  .col-md-4
    #map-detail.map-canvas(ng-show='showMap')
a.btn.btn-default(href='/canchas') Volver
