lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build

npm-debug.log
node_modules
bower_components
src/client/styles/bootstrap
src/client/styles/*.css
src/client/styles/*.css.map
src/client/fonts
