doctype html
html(ng-app='bchz')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
		meta(name='DESCRIPTION' content='SportHub')
		title= title
		link(rel='stylesheet', href='/css/bootstrap/bootstrap.css')
		link(rel='stylesheet', href='/css/site/place.css')
	body
		.navbar.navbar-inverse.navbar-fixed-top
			.container
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='#') SportHub
				.navbar-collapse.collapse
					ul.nav.navbar-nav
						li
							a casa
						li
							a lala
						li
							a otro link
					form.navbar-form.navbar-left(role='search', ng-controller='SearchCtrl')
						.form-group
							input#query.form-control(type='text', ng-model='query', placeholder='Search')
						button.btn.btn-default(type='submit', ng-click='search()') Submit
					ul.nav.navbar-nav.navbar-right
						li
							a(href='#') Register
						li
							a(href='#') Log in
		.container.body-content
			div(ng-view)
				block content
			hr
			footer &copy; 2013 - SportHub
	script(src='scripts/jquery/jquery-1.10.2.js')
	script(src='scripts/bootstrap/bootstrap.js')
	script(src='scripts/angular/angular.js')
	script(src='scripts/angular/angular-animate.js')
	script(src='scripts/angular/angular-route.js')
	script(src='scripts/angular/angular-resource.js')
	script(src='scripts/whatever/home.js')
	script(src='scripts/whatever/list.js')
	script(src='scripts/whatever/place.js')
	script(src='scripts/whatever/search.js')
	script(src='scripts/bchz.js')
	script(src='scripts/bchz/bchz.arrays.js')
	script(src='http://maps.google.com/maps/api/js?sensor=true&language=es')
	