doctype html
html(ng-app='bchz')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
		meta(name='DESCRIPTION' content='SportHub')
		title= title
		link(rel='stylesheet', href='/components/hint.css/hint.css')
		link(rel='stylesheet', href='/styles/bootstrap/bootstrap.css')
		link(rel='stylesheet', href='/styles/site/layout.css')
		link(rel='stylesheet', href='/styles/site/place.css')
		link(rel='search', type='application/opensearchdescription+xml' title=title href='/opensearch.xml')
	body
		.navbar.navbar-inverse.navbar-fixed-top(ng-controller='LayoutCtrl')
			.container
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='#')= title
				.navbar-collapse.collapse
					ul.nav.navbar-nav
						li.dropdown
							a.dropdown-toggle(href='', data-toggle='dropdown') Canchas&nbsp;
								b.caret
							ul.dropdown-menu(role='menu')
								li(ng-repeat='sport in sports')
									a(href='#/canchas/listado/{{sport.url}}') {{sport.name}}
						li
							a(href='#/busqueda') Búsqueda
						li
							a Mapa
					form.navbar-form.navbar-left(role='search')
						.form-group
							input.form-control(type='search', ng-model='query', ng-enter='search()', placeholder='Buscar')
						button.btn.btn-default(type='submit', ng-click='search()') 
							span.glyphicon.glyphicon-search
					ul.nav.navbar-nav.navbar-right
		.container.body-content
			div(ng-view)
				block content
			hr
			footer &copy; 2013 - 
				= title
	script(src='components/jquery/jquery.js')
	script(src='components/bootstrap/js/collapse.js')
	script(src='components/bootstrap/js/dropdown.js')
	script(src='components/angular/angular.js')
	script(src='components/angular-animate/angular-animate.js')
	script(src='components/angular-route/angular-route.js')
	script(src='components/angular-resource/angular-resource.js')
	script(src='http://maps.google.com/maps/api/js?sensor=true&language=es')
	script(src='scripts/whatever/layout.js')
	script(src='scripts/whatever/home.js')
	script(src='scripts/whatever/search.js')
	script(src='scripts/whatever/place/list.js')
	script(src='scripts/whatever/place/add.js')
	script(src='scripts/whatever/place/detail.js')
	script(src='scripts/app.js')
	script(src='scripts/bchz/bchz.arrays.js')
	script(src='scripts/bchz/bchz.util.js')
	script(src='scripts/bchz/bchz.maps.js')
	script(src='scripts/directives/ngEnter.js')
	script(src='scripts/directives/ngComma.js')
	script(src='scripts/directives/ngFocusInput.js')