.place.ng-enter,
.place.ng-leave {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: -50px;
  opacity: 0;
  -webkit-box-shadow: 1px 1px 6px #aaaaaa;
  box-shadow: 1px 1px 6px #aaaaaa;
}
.place.ng-enter-active,
.place.ng-leave-active {
  opacity: 1;
  top: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.place-info {
  margin-bottom: 20px;
}
.place {
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-left: 10px solid transparent;
  padding: 10px;
  margin-bottom: 10px;
  opacity: 1;
}
.place h3 {
  margin-top: 0;
}
.place h3 {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 100;
  padding: 5px;
  text-decoration: none;
}
.place a {
  text-decoration: none;
}
.place h3:hover {
  background-color: #c2da9a;
  color: #333;
  text-decoration: none;
  -webkit-box-shadow: 1px 1px 4px #cccccc;
  box-shadow: 1px 1px 4px #cccccc;
}
.place:hover {
  border-left: 10px solid #428b0a;
  background-color: #ffff88;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 1px 1px 6px #aaaaaa;
  box-shadow: 1px 1px 6px #aaaaaa;
}
.place .label {
  margin-right: 2px;
}
.search-group #map-add {
  height: 300px;
  width: 100%;
  margin-top: 10px;
}
.search-group li {
  margin-top: 5px;
}
.map-canvas {
  border: 4px solid #428b0a;
  box-shadow: 1px 1px 4px #666;
}
.tag-search {
  padding: 5px 12px;
  height: auto;
  cursor: text;
}
.tag-search input[type=text] {
  border: 0;
  outline: none;
  color: #555555;
}
.tag-search input[type=text].text-danger {
  color: #b94a48;
}
.tag-search input[type=text].text-danger:hover {
  color: #953b39;
}
.tag-search.focused {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.tag-search span.label {
  font-weight: normal;
  padding: .2em .3em .3em .6em;
  font-size: 100%;
  margin-right: 5px;
  float: left;
  margin-bottom: 4px;
  text-transform: lowercase;
}
.tag-search button.close {
  position: relative;
  top: 1px;
  float: none;
  background-color: #fff;
  padding: 0 .1em;
  font-size: 18px;
  margin-left: 5px;
  line-height: 0.8em;
  border-radius: 15px;
}
.form-control[data-hint]:before {
  margin-left: 0px !important;
}
.form-control[data-hint]:after {
  font-size: 14px;
  margin-left: 12px !important;
  width: 200px;
  white-space: pre-wrap;
  line-height: 1.428571429;
}
.form-control[data-hint]:before,
.form-control[data-hint]:after {
  visibility: hidden;
  opacity: 0;
}
.form-control.focused.has-no-tags[data-hint]:before,
.form-control.focused.has-no-tags[data-hint]:after {
  visibility: visible;
  opacity: 1;
}
.courts-list > div > label {
  font-weight: normal;
}
.courts-list > div > div > select,
.courts-list > div > div > input {
  margin-bottom: 5px;
}
.courts-list .btn-court-action {
  line-height: 1.1;
  border-radius: 10px;
  position: relative;
  top: 3px;
  width: 15px;
  margin-right: 3px;
  padding: 0;
}
li.court-current-list-detail {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding-left: 5px;
}
li.court-current-list-detail .btn-court-action {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  background: transparent;
  border-width: 0;
  color: #333;
}
li.court-current-list-detail:hover .btn-court-action {
  border-width: 1px;
  color: #ffffff;
  background-color: #428b0a;
  border-color: #377308;
}
li.court-current-list-detail:hover .btn-court-action:hover,
li.court-current-list-detail:hover .btn-court-action:focus,
li.court-current-list-detail:hover .btn-court-action:active,
li.court-current-list-detail:hover .btn-court-action.active,
.open .dropdown-toggleli.court-current-list-detail:hover .btn-court-action {
  color: #ffffff;
  background-color: #306507;
  border-color: #1c3a04;
}
li.court-current-list-detail:hover .btn-court-action:active,
li.court-current-list-detail:hover .btn-court-action.active,
.open .dropdown-toggleli.court-current-list-detail:hover .btn-court-action {
  background-image: none;
}
li.court-current-list-detail:hover .btn-court-action.disabled,
li.court-current-list-detail:hover .btn-court-action[disabled],
fieldset[disabled] li.court-current-list-detail:hover .btn-court-action,
li.court-current-list-detail:hover .btn-court-action.disabled:hover,
li.court-current-list-detail:hover .btn-court-action[disabled]:hover,
fieldset[disabled] li.court-current-list-detail:hover .btn-court-action:hover,
li.court-current-list-detail:hover .btn-court-action.disabled:focus,
li.court-current-list-detail:hover .btn-court-action[disabled]:focus,
fieldset[disabled] li.court-current-list-detail:hover .btn-court-action:focus,
li.court-current-list-detail:hover .btn-court-action.disabled:active,
li.court-current-list-detail:hover .btn-court-action[disabled]:active,
fieldset[disabled] li.court-current-list-detail:hover .btn-court-action:active,
li.court-current-list-detail:hover .btn-court-action.disabled.active,
li.court-current-list-detail:hover .btn-court-action[disabled].active,
fieldset[disabled] li.court-current-list-detail:hover .btn-court-action.active {
  background-color: #428b0a;
  border-color: #377308;
}
li.court-current-list-detail .btn-court-action:hover {
  -webkit-transition: 0;
  transition: 0;
}
li.court-current-list-detail:hover {
  background-color: #c2da9a;
  border: 1px;
}
