@import "../bootstrap/mixins.less";
@import "../bootstrap/variables.less";

@site-background: #ffffbb;

body {
    background-color: @site-background;
    font-family: 'Raleway', sans-serif;
}

.container.body-content {
    margin-top: 70px; 
    margin-bottom: 20px;
}

.place.ng-enter, .place.ng-leave {
    .transition(0.5s);
    top: -50px;
    opacity: 0;
    .box-shadow(1px 1px 6px #aaa);
}

.place.ng-enter-active, .place.ng-leave-active {
    opacity: 1;
    top: 0px;
    .box-shadow(none);
}

.place-info {
    margin-bottom: 20px;
}

.place {
    position: relative;
    .transition(0.2s);
    border-left: 10px solid transparent;
    padding: 10px;
    margin-bottom: 10px;
    opacity: 1;
}

.place h3 {
    margin-top: 0;
}

.place h3 {
    .transition(0.3s);
    font-weight: 100;
    padding: 5px;
    text-decoration: none;
}

.place a {
    text-decoration: none;
}

.place h3:hover {
    background-color: lighten(average(@brand-primary, @site-background), 15%);
    color: #333;
    text-decoration: none;
    .box-shadow(1px 1px 4px #ccc);
}

.place:hover {
    border-left: 10px solid @brand-primary;
    background-color: darken(@site-background, 10%);
    .transition(0.3s);
    .box-shadow(1px 1px 6px #aaa);
}

.place .label {
    margin-right: 2px;
}

.search-group #map-add {
    height: 300px; 
    width: 100%;
    margin-top: 10px;
}

.search-group li {
    margin-top: 5px;
}

.map-canvas {
    border: 4px solid @brand-primary;
    box-shadow: 1px 1px 4px #666;
}