.row
	.col-md-8
		h2 {{description}}

		p(ng-show='info') {{info}}
		p(ng-show='address') {{fullAddress}}
		p(ng-show='phone') {{phone}}
		p(ng-show='howToArrive') {{howToArrive}}
		.tags
			label.label.label-primary(ng-repeat='tag in tags') {{tag}}
		div(ng-repeat='group in courts')
			h3 {{group.key}} - {{group.count}} cancha{{group.count > 1 ? 's' : ''}}
			ul
				li(ng-repeat='court in group') {{court.length}} cancha{{court.length > 1 ? 's' : null}} de {{court.key.surface}}{{court.key.isIndoor ? ', techada' + (court.length > 1 ? 's' : '') : null}}{{court.key.players ? ', para ' + court.key.players + ' jugadores' : null}}&nbsp;
	.col-md-4
		#map-detail.map-canvas(style='height: 360px;')
a.btn.btn-default(href='#/canchas/listado') Volver