@import "../bootstrap/mixins.less";
@import "../bootstrap/variables.less";

body {
	background-color: @body-bg;
	font-family: 'Raleway', sans-serif;
}

.container.body-content {
	margin-top: 70px; 
}

footer {
	margin-bottom: 20px;
}

::selection {
	background-color: darken(@body-bg, 65);
	color: #fff;
	text-shadow: 0 1px #000;
}

.navbar-form .btn {
	margin-left: 5px;
}

.body-content h2:first-child {
	margin-top: 0px;
	margin-bottom: 20px;
}

.comma-list, .comma-list div {
	display: inline;
}

.capitalize {
	text-transform: capitalize;
}

.lowercase {
	text-transform: lowercase;
}

.btn + .btn {
	margin-left: 4px;
}

html.full-screen, html.full-screen body, html.full-screen .body-content, html.full-screen div[ng-view], html.full-screen .row.full-height, html.full-screen .row.full-height > div {
	height: 100%;
	min-height: 100%;
}

html.full-screen .row.full-height + .row {
	padding-top: 20px;
}

html.full-screen .body-content {
	margin-top: 0px;
	margin-bottom: 0px;
}

html.full-screen div[ng-view] {
	padding-top: 120px;
	padding-bottom: 20px;
}

html.full-screen .body-content h2:first-child {
	position: absolute;
	top: 70px;
}

#map-add {
	height: 300px; 
	width: 100%;
	margin-top: 10px;
}

#map-detail {
	height: 360px;
}

#map-general, #map-home {
	height: 100%;
}

.map-canvas {
	border: 4px solid @brand-primary;
	box-shadow: 1px 1px 4px #666;
	.transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");
}
